<style type="text/css">
	
	.titleFont{
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-size: 35pt;
		font-weight: bold;
	}
	
	.tableflight{
		
		margin: 20px auto;
		width: 100%;
		height: 300px;
		display: block;
		background: #161515;
		position: relative;

	}

	.headtable{
		position: relative;
		width: 100%;
		height: 50px;
		background-color: #0F0F0F;
	}


	.fontFlight{
		margin-left: 20px;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		font-size: 25pt;
		color: #fff;
	}

	.fontREETA{
		right: 0px;
		margin-right: 20px;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		font-size: 25pt;
		color: #fff;
	}

	.btnnext{
		display: none;
		top: 50%;
		margin-top: -40.5px;

	}

	.nextButton{
		width: 20px;
		height: 20px;
		right: 50px;
		position: absolute;
		top: 50%;
		
	}

	.flightNo{
		position:absolute;
		top:40%;
		left:50%;
		font-size:25pt;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		margin-left:-15px;
		margin-top:-20px;
		color:#fff;
	}

	.image_flight{
		position: absolute;
		top: 50%;
		margin-left: 20px;
		width: 250px;
		height: 75px;
		margin-top: -37.5px;

	}

	.divgate{
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-10px;
		width:70px;
		padding-top: 10px;
		text-align: center;
		height:70px;
		background:#000;
	}

	.divgate .gate{
		position : relative;
		font-size:30pt;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		background-color:#000;
		color:#fff;
	}

	.status{
		position:absolute;
		top:50%;
		color:#000;
		font-size:25pt;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		right:0;
		margin-right:10%;
		margin-top:-20px;
	}

	.foottable{

		width: 100%;
		height: 50px;
		background-color: #0F0F0F;
		position: absolute;
		bottom: 0;
	}

</style>
	
<div id="screenFlight" data-bb-type="screen" data-bb-effect="fade"  data-bb-indicator="true" data-bb-scroll-effect="on">
	<script id="actionBarJS" src="js/actionBar.js"></script>
		
		<div data-bb-type="round-panel" style=" text-align: center; height: 50px; margin-bottom: 5px; background: #161515;">
			<font class="titleFont">-</font>
		</div>
	
	<div id="tableFlightContent"></div>

	<div data-bb-type="action-bar"  data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_delete.png" onclick="deleteAll()">Delete All</div>
	</div>
</div>