<style type="text/css">

     
    .titleFont{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 25pt;
	font-weight: bold;
    }
	
   .tableFlightContent{
	width: 100%;
	height: auto;
	margin-bottom: auto;
	margin-top: auto;
	position: relative;
	background: #000;
	margin-left: auto;
	margin-right: auto;    
    }
    
    .centerOuter{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}
	
    .tableFlightContent .list_container{
        width: 100%;
        position: relative;
	
        margin: 0 auto;
	margin-top: 5px;
        height: 250px;
	margin-bottom: 20px;
        background: #161515;
        #box-shadow: 0 0 1px 5px #696969;
    }
    
     .list_container .container_text{
        text-align: left;
        float: left;
        width: 50%;
	padding-top: 20px;
        list-style-type: none;

        
    }
    
    .container_text .fromTo_flightno{
        font-weight: bold;
        font-size: 25pt;
        margin: 10px;
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        
    }
    
    .fromTo_flightno:after{
        content: '\a';
        white-space: pre;
    }
    
    .container_text .text_status {
        font-weight: bold;
        font-size: 30pt;
        margin: 10px;
        margin-left: 85px;
        float: left;
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }
    
   
    .container_text .container_eta_reeta{
	float: right;
	margin-top: 10px;
	position: relative;
	width: 300px;
	text-align: left;
	height: 100px;
	margin-bottom: 10px;
	
    }
    
    .container_eta_reeta .eta_reeta{
	font-weight: bold;
	position: relative;
	padding-right: 20px;
        font-size: 28pt;  
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }
    
    .eta_reeta:after{
	content:"\a";
	white-space: pre;
    }
    
    .container_text .pagar {
	float: right;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(left,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to right,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
	
	width: 300px;
	height: 3px;
	position: relative;
    }

	.inputflight .inputbox{
		width: 70%;
		top:10px;
		float: left;
		
		position: relative;
		margin-bottom: 10px;
		margin-right: 10px;
		margin-left: 15px;
	}

	.inputbox .buttonsearch{
		float: right;
		margin-top: 10px;
		display: block;
		position: relative;
		padding-right: 10px;
		margin-right:0px;
		margin-bottom: 0px;
	}

	


	.inputflight{
		
		height: 120px;
		background: #7d7e7d; /* Old browsers */
		background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
		width: 100%;
	}
</style>

 


<div id="screenFlight" data-bb-type="screen"  data-bb-effect="fade" data-bb-scroll-effect="off" >
	<script id="actionBarJS" src="js/actionBar.js"></script>
	<div class="inputflight"  >
		<div class="inputbox"><input type="text" id='flightID'  value="" /></div>
			<div id="button" class="buttonsearch">  
			<div data-bb-type="button" id="btn_search" style=" float: right; position: relative; width: 180px; margin-top: 15px; margin-left: auto;margin-right: 10px; display: block; top: 0; bottom: 0;"   onclick="search()">Search</div>
		</div>
			<div style="clear: both"></div>
	</div>
	<div style="width: 100px; margin-bottom: 20px; height: 20px;"></div>
	<div id="tableFlightContent" class="tableFlightContent">
	</div>	
	
	<div data-bb-type="action-bar"  >
		<div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-accent-text="" data-bb-img="images/Action_Icons_BlackBerry_10/ic_home.png" onclick="intentTo('main.html');">Home</div>
		<div data-bb-type="action" id="menuFligh1" data-bb-style="tab" data-bb-overflow="true" data-bb-accent-text="" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png"   onclick="sub_intentTo('flight_arrival.html',subArrivalUrlContentDomestic,1);">Domestic Arrival</div>	
		<div data-bb-type="action" id="menuFligh2"  data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_departure.html',subDepartureUrlContentDomestic,2);">Domestic Departure</div>
		<div data-bb-type="action" id="menuFligh3"  data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_arrival.html',subArrivalUrlContentInternational,3);">International Arrival</div>
		<div data-bb-type="action" id="menuFligh4"  data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_departure.html',subDepartureUrlContentInternational,4);">International Departure</div>
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh5" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_search.png" onclick="sub_intentTo('flight_search.html',subFlightSearch,5);">Search</div>
	</div>
</div>