<style type="text/css">	
     
     .titleFont{
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-size: 35pt;
		font-weight: bold;
	}
	
     .tableFlightContent{
        width: 100%;
        height: auto;
	margin-bottom: auto;
	margin-top: auto;
        position: relative;
	margin-left: auto;
	margin-right: auto;
        
        
    }
    
   
    
    .centerOuter{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}
	
    .tableFlightContent .list_container{
        width: 100%;
        position: relative;
	
        margin: 0 auto;
	margin-top: 5px;
        height: 250px;
	margin-bottom: 20px;
        background: #161515;
        #box-shadow: 0 0 1px 5px #696969;
    }
    
     .list_container .container_text{
        text-align: left;
        float: left;
        width: 50%;
	padding-top: 20px;
        list-style-type: none;

        
    }
    
    .container_text .fromTo_flightno{
        font-weight: bold;
        font-size: 25pt;
        margin: 10px;
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        
    }
    
    .fromTo_flightno:after{
        content: '\a';
        white-space: pre;
    }
    
    .container_text .text_status {
        font-weight: bold;
        font-size: 30pt;
        margin: 10px;
        margin-left: 85px;
        float: left;
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }
    
   
    .container_text .container_eta_reeta{
	float: right;
	margin-top: 10px;
	position: relative;
	width: 300px;
	text-align: left;
	height: 100px;
	margin-bottom: 10px;
	
    }
    
    .container_eta_reeta .eta_reeta{
	font-weight: bold;
	position: relative;
	padding-right: 20px;
        font-size: 25pt;  
        list-style-type: none;
        color: #fff;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }
    
    .eta_reeta:after{
	content:"\a";
	white-space: pre;
    }
    
    
    .container_text .pagar {
	float: right;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(left,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to right,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
	
	width: 300px;
	height: 3px;
	position: relative;
    }

	.tableFlightContent .infoAlertBox{
		display: none;
		margin-top: 40%;
		width: 500px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		position: relative;
		background: #45484d; /* Old browsers */
		background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	}

	.infoAlertBox .buttonsearch{
		top:50%;
		margin: 0 auto;
		position: relative;
		width: 	250px;
		height: 180px;
	}

	.infoAlertBox .infotext{
		position:relative;
		width: auto;
		color: white;
		margin: auto;
		padding-top: 5px;
		height: auto;

	}

	.infotext h3{
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-size: 30pt;
		text-align: center;
	}
	
</style>

<div id="screenFlight" data-bb-type="screen" data-bb-effect="fade" data-bb-scroll-effect="off"  >
	<script id="actionBarJS" src="js/actionBar.js"></script>
	<div data-bb-type="round-panel" style=" text-align: center; height: 50px; margin-top: 10px; margin-bottom: 10px; background: #161515;">
			<font class="titleFont">-</font>
		</div>
	<img id="bb7Loading"  />
	<div id="bb10Loading" class="center" id="actind"  style="margin-top : -100px; margin-left : -100px; position: absolute; top : 50%; left : 50%;" data-bb-type="activity-indicator" data-bb-size="large"></div>
	<div data-bb-type="round-panel">
	<div data-bb-type="scroll-panel" id="scrollPanel" style=" box-shadow:inset 0 0 10px #000000; margin-left: -20px; margin-right: -20px;height: 1039px" >
	<div class="centerOuter">
	<div id="tableFlightContent" class="tableFlightContent" >
			<div class="infoAlertBox" id="infoAlertBox"  >
	  				<div class="infotext" id="infotext"><h3>Mungkin tidak ada Penerbangan hari ini</h3></div>
					<div id="button" style=" display: block; margin-left: auto; margin-right: auto;" class="buttonsearch">  
						<div data-bb-type="button" id="btn_search" class="btn_search" onclick="Replay_flightDeparture()">Coba Lagi</div>
        			</div>
			</div>               
	</div>
	</div>
	</div>
	</div>
	<div data-bb-type="action-bar" id="actionbar">
		<div data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-accent-text="" data-bb-img="images/Action_Icons_BlackBerry_10/ic_home.png" onclick="intentTo('main.html');">Home</div>
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh1" data-bb-overflow="true" data-bb-accent-text="" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_arrival.html',subArrivalUrlContentDomestic,1);">Domestic Arrival</div>	
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh2"  data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_departure.html',subDepartureUrlContentDomestic,2);" >Domestic Departure</div>
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh3" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_arrival.html',subArrivalUrlContentInternational,3);">International Arrival</div>
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh4" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_view_list.png" onclick="sub_intentTo('flight_departure.html',subDepartureUrlContentInternational,4);">International Departure</div>
		<div data-bb-type="action" data-bb-style="tab" id="menuFligh5" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_search.png" onclick="sub_intentTo('flight_search.html',subFlightSearch,5);">Search</div>
		<div data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/Action_Icons_BlackBerry_10/ic_rotate.png" 
		onclick="moreFlightDeparture_list()">More</div>
		<div data-bb-type="action" data-bb-style="button" data-bb-overflow="true"  data-bb-img="images/Action_Icons_BlackBerry_10/ic_browse.png" 
		onclick="bb.pushScreen('flight_filter.html','flight_filter.html')">Filter</div>
	</div>
</div>