<style type="text/css">	

	.tableFlightContent{
		width: 100%;
			height: auto;
	}
	.formNotif{
		width: 100%;
		background: #000;
		position: relative;
		float: left;

		margin-top: 5px;
		margin-left: 10px;
		margin-bottom: 5px;
		height: 100px;
		position: relative;

	}

	.flightNo{
		
		position: absolute;
		left: 0;
		color: #fff;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-weight: bold;
		margin-left: 10px;
		width: auto;
		margin-top: -15px;
		top: 50%;
		font-size: 21pt;
	}

	.status{
		position: absolute;
		right: 0;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		margin-right: 30px;
		top: 50%;
   		margin-top: -15px;
		font-size: 21pt;
	}

</style>

<div id="screenFlight" data-bb-type="screen" data-bb-effect="fade"  data-bb-indicator="true" data-bb-scroll-effect="off">
	<script id="actionBarJS" src="js/actionBar.js"></script>
		<div data-bb-type="round-panel" style=" text-align: center; height: 50px; margin-bottom: 5px; background: #161515;">
			<font class="titleFont">Notification List</font>
		</div>
	<div id="tableFlightContent" class="tableFlightContent"></div>
	<div data-bb-type="action-bar" onclick="setPlacePage('index.html')"  data-bb-back-caption="Back"></div>
</div>


	

	
	